@model SellerViewModel

@{
    ViewData["Title"] = "Sellers";
}

<h2>@ViewData["Title"]</h2>

<h4>Create</h4>
<hr />

<div asp-validation-summary=None class="text-danger"></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="m-3">
                <label asp-for="Seller.Name" class="form-label"></label>
                <input asp-for="Seller.Name" class="form-control" />
                <span asp-validation-for="Seller.Name" class="text-danger"></span>
            </div>

            <div class="m-3">
                <label asp-for="Seller.Email" class="form-label"></label>
                <input asp-for="Seller.Email" class="form-control" />
                <span asp-validation-for="Seller.Email" class="text-danger"></span>
            </div>

            <div class="m-3">
                <label asp-for="Seller.BirthDate" class="form-label"></label>
                <input asp-for="Seller.BirthDate" class="form-control" />
                <span asp-validation-for="Seller.BirthDate" class="text-danger"></span>
            </div>

            <div class="m-3">
                <label asp-for="Seller.BaseSalary" class="form-label"></label>
                <input asp-for="Seller.BaseSalary" class="form-control" />
                <span asp-validation-for="Seller.BaseSalary" class="text-danger"></span>
            </div>

            <div class="m-3">
                <label asp-for="Seller.DepartmentId" class="form-label"></label>
                <select asp-for="Seller.DepartmentId" asp-items="@(new SelectList(Model.Departments, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="Seller.DepartmentId" class="text-danger"></span>
            </div>

            <div class="m-3">
                <input type="submit" class="btn btn-primary" asp-action="Create" value="Save" />
                <a class="btn btn-secondary" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}